body {
    background-image: url(images/Code_presentation_background.png);
    color: #fff;
}

a {
    color: purple;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.flex-container {
    border: 5px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#newbie {
    color: rgb(90, 226, 169);
}